* {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 10vh;
    background-color: #38BDF8; /* Sky Blue */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

nav a {
    text-decoration: none;
    color: #FFFFFF; /* White */
}
#logo:active{
    transform:scale(0.98) ;
}

#time {
    border: 1px solid #94A3B8; /* Soft Gray Blue */
    border-radius: 3px;
    color: #1E293B; /* Dark Text */
    background-color: #E0F2FE; /* Light Blue Background */
    padding: 5px;
    font-size: 20px;
}

.body {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border-radius: 10px;
    width: fit-content;
    background-color: #E0F2FE; /* Light Blue Form */
    padding: 30px;

    /* Reflection / Gloss Effect */
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* soft shadow */
}

.form h1 {
    color: #1E293B; /* Dark Slate Text */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

label {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1E293B; /* Dark Slate Text */
}

input[type="text"],
input[type="password"] {
    background-color: #FFFFFF;
    color: #1E293B;
    border: 2px solid #94A3B8;
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    width: 250px;
} 

input[type="text"]:active{
    transform: scale(0.95);
}
input[type="password"]:active{
    transform: scale(0.95);
}

.button {
    background-color: #38BDF8; /* Sky Blue */
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.button:hover {
    background-color: #0284C7; /* Stronger Blue */
    box-shadow: 0 0 8px rgba(56, 189, 248, 0.6);
}

.button:active {
    transform: scale(0.9);
}

.button_center {
    display: flex;
    justify-content: center;
}
