* {
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width:100vw;
    display: flex;
}
/* --------------------- sidebar ---------------------- */
 .sidebar {
    height: 100vh;
    width: 20vw;
    background: linear-gradient(45deg, #0369A1, #0284C7, #0EA5E9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);

}

.sidebar #logo {
    color: #FACC15;
    margin-top: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 35px;
    border-bottom: 2px solid #0369A1;
    overflow-wrap: break-word; 
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition:0.8s; 
}

#logo:hover{
    transform: scale(0.90);
}
.page-contanier{
    margin-top: 3.5vw;
}
.page-contanier ul li a{
    text-decoration:none ;
    color:white;
    font-size: larger;
}
.page-contanier ul li{
   list-style-type: none;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 2vw;   
    transition: 0.5s;
}
.page-contanier ul li:hover{
    transform: scale(1.2);
}
/* -------------------------- contanier -------------------------------------- */
.container{
    height: 100vh;
    width:80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*------------------------- Login page css ------------------------------*/
.form {

    border-radius: 15px;
    width: fit-content;
    background-color: #E0F2FE; 
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    margin-right: 10vw;
}

.form h1 {
    color: #1E293B; 
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

label {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1E293B; 
}

input[type="text"],
input[type="password"] {
    background-color: #FFFFFF;
    color: #1E293B;
    border: 2px solid #94A3B8;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    width: 250px;
} 

input[type="text"]:active{
    transform: scale(0.95);
}
input[type="password"]:active{
    transform: scale(0.95);
}

.button {
    background-color: #38BDF8; 
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.button:hover {
    background-color: #0284C7; 
    box-shadow: 0 0 8px rgba(56, 189, 248, 0.6);
}

.button:active {
    transform: scale(0.9);
}

.button_center {
    display: flex;
    justify-content: center;
}

