* {
    margin: 0px;
    padding: 0px;
}
html, body {
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    display: flex;
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* --------------------- sidebar ---------------------- */
.sidebar_index {
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    background: linear-gradient(90deg, #2563EB, #38BDF8);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    background: linear-gradient(90deg, #2563EB, #38BDF8);
}



#logo {
    background: linear-gradient(to right, #efb033 0%, #FCF6BA 50%, #da9b2d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 35px;
    height: 15vh;
    border-bottom: 2px solid #0369A1;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.8s;
    overflow-wrap: normal;
}

.sidebar a {
    text-decoration: none;
}

#logo:hover {
    transform: scale(0.95);
}

.page-contanier {
    margin-top: 1vw;
    height: 75vh;
    display: flex;
    align-items: space-around;
}

.page-contanier ul li a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.page-contanier ul li {
    list-style-type: none;
    margin-top: 1.5vh;
    margin-left: 2vw;
    padding-left: 2vw;
    transition: 0.5s;
}

.page-contanier ul li:hover {
    transform: scale(1.1);
    /* background-color:#5887ec; */
}

footer p{
    color: #E0F2FE;
    margin-left: 3vw;
}

/* -------------------------- contanier -------------------------------------- */
.container {
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------- Login page css ------------------------------*/
.form {

    border-radius: 15px;
    width: fit-content;
    background-color: #E0F2FE;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-right: 10vw;
}

.form h1 {
    color: #1E293B;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

label {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1E293B;
}

input[type="text"],
input[type="password"] {
    background-color: #FFFFFF;
    color: #1E293B;
    border: 2px solid #94A3B8;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    width: 250px;
}

input[type="text"]:active {
    transform: scale(0.95);
}

input[type="password"]:active {
    transform: scale(0.95);
}

.button {
    background-color: #38BDF8;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.button:hover {
    background-color: #0284C7;
    box-shadow: 0 0 8px rgba(56, 189, 248, 0.6);
}

.button:active {
    transform: scale(0.9);
}

.button_center {
    display: flex;
    justify-content: center;
}

/* -------------------- main dashboard -------------------------- */

.main {
     margin-left: 20vw;
    width: calc(100vw - 20vw);
}

.main_box {
    height: 20vh;
    margin-top: 4vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.main_box_heading {
    height: 10vh;
    width: 50vw;
    Border: 1px;
    border-radius: 15px;
    background-color: #E0F2FE;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.clock {
    width: 20vw;
    height: 10vh;
    display: flex;
    Border: 1px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.4s;
    background-color: #E0F2FE;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.main_body {
    margin-left: 2vw;
    padding: 20px;
    Border: 1px;
    border-radius: 15px;
    background-color: #E0F2FE;
    width: 70vw;
    height: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

#main_body_heading {
    display: flex;
    justify-content: center;
}

.main_body_table {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
}

.main_body_table table {
    border-collapse: collapse;
    width: 80%;
    font-family: Arial, sans-serif;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main_body_table table th {
    background: #23a8eb;
    color: white;
    padding: 10px;
    text-align: left;
}

.main_body_table table tr td {
    padding: 10px;
    border: 1px solid #ddd;
}

.main_body_table table tr:hover {
    background: #f1f1f1;
}

/* -----------------------------Inventory------------------------------------- */